.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  border: 2px solid steelblue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.taskRow {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.leftPartOfRowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.actionButtonsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.showSubTasksToggelerContainer {
  padding: 5px;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.showSubTasksToggelerIcon {
  transition: all 0.3s ease-out;
}
.showSubTasksIcon {
  transform: rotate(-90deg);
}
.hideSubTasksIcon {
  transform: rotate(0);
}
.titleInput {
  padding: 5px;
}
.trashIcon {
  color: crimson;
  fill: crimson;
  cursor: pointer;
}
.plusIcon {
  color: darkgreen;
  fill: darkgreen;
  cursor: pointer;
}
.disabledIcon {
  color: rgba(46, 46, 46, 0.289);
  fill: rgba(46, 46, 46, 0.289);
}
.changeOrderIcon {
  color: steelblue;
  fill: steelblue;
  cursor: pointer;
}
